<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="LOGFILE_NAME" value="./logs/graphql-gateway-java.log"/>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="consoleJson">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <jsonGeneratorDecorator
          class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
      </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="fileAppenderJsonMain" >
    <file>${LOGFILE_NAME}</file>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
          <maxDepthPerThrowable>50</maxDepthPerThrowable>
          <maxLength>9000</maxLength>
          <shortenedClassNameLength>20</shortenedClassNameLength>
          <rootCauseFirst>true</rootCauseFirst>
        </throwableConverter>
      </encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <maxIndex>1</maxIndex>
        <FileNamePattern>${LOGFILE_NAME}.%i</FileNamePattern>
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <MaxFileSize>1GB</MaxFileSize>
      </triggeringPolicy>
  </appender>

  <!-- LOG everything at INFO level -->
  <root level="info">
    <appender-ref ref="fileAppenderJsonMain"/>
    <appender-ref ref="consoleJson"/>
  </root>

</configuration>
